.cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    width: calc(100% - 40px);
    padding: 0 20px;
    justify-items: center;

    @media (max-width: 768px) {
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        width: calc(100% - 20px);
        padding: 0 10px;
    }
}